.main-container{
    padding: 30px 100px;
}

.main-link{
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

.interview__container{
    border: 1px solid blue;
    border-radius: 5px;
    padding: 20px 30px;
    margin-bottom: 20px;
}

.interview__field{
    padding-bottom: 10px;
}
.interview__field a{
    padding-right: 10px;
}